# all image data
data/*
data-extra/*
images-lightsheet*/
images-confocal*/
old_files/*
testing/

# Manuscript files
manuscript-related-figures/

# Editors
__pycache__/
.vscode
.pylintrc
.spyderproject
.spyproject
.idea

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Other stuff
*.ipynb