# all image data
data/*
data-extra/*

old_files/*

# Manuscript files
manuscript-related-figures/

# Editors
__pycache__/
.vscode
.pylintrc
.spyderproject
.spyproject
.idea

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Other stuff
*.ipynb