# all image data
imag*/
202*/
HOG_plot_analysis/*
quick-anal*/
manuscript-related-figures/*
testing/*

# Editors
__pycache__/
.vscode
.pylintrc
.spyderproject
.spyproject
.idea

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Other stuff
*.ipynb